{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link href="/styles/index.css" rel="stylesheet">
</head>

<body class="flex flex-col h-screen">
    {{ template "header" . }}

    {{ template "main" . }}

    {{ template "footer" . }}
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener("htmx:beforeSwap", function (evt) {
                if (evt.detail.xhr.status === 422) {
                    // allow 422 responses to swap as we are using this as a signal that
                    // a form was submitted with bad data and want to rerender with the
                    // errors

                    //set isError to false to avoid error logging in console
                    evt.detail.shouldSwap = true
                    evt.detail.isError = false
                }
            })
        })
    </script>
</body>

</html>

{{ end }}
